{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Test Ilovasi | Kirish{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2>Kirish</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Kirish</button>
                    <a href="{% url 'signup' %}" class="btn btn-link">Ro‘yxatdan o‘tish</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}