{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    New Test
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8 mt-5">
                <h2>New Test</h2>
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a href="{% url 'index' %}" class="btn btn-secondary">Back Home</a>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock content %}