{% extends 'base.html' %}
{% block title %}Test Ilovasi | Testga Tayyor{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h3>Testga Tayyor: {{ test.title }}</h3>
        <div class="card p-4">
            <p>Savollar: <strong>{{ test.question_set.count }}</strong></p>
            <p>Test Davri: <strong>{{ test.start_date }} dan {{ test.end_date }} gacha</strong></p>
            <p>Muallif: <a href="{% url 'profile' %}">@{{ test.author.username }}</a></p>
            <a class="btn btn-primary" href="{% url 'test' test.id %}">Testni Boshlash</a>
            <a class="btn btn-secondary" href="{% url 'index' %}">Bosh Sahifaga Qaytish</a>
        </div>
    </div>
{% endblock content %}